{% extends "blog/base.html" %}
{% load static %}
{% block content %}
<p>
<h2>What is CraftPath?</h2>
<p>
    Craft Path is a mobile application that offers an easy way to optimize multiple locations using artificial
    intelligence algorithms to calculate the shortest route possible. The main focus of our application is creating the shortest
    paths for bus companies, pick up and drop off companies, workers transportation companies, and any other company
    that deal with tens of stops a day.
</p>
</br>
<p>
    Companies can save a large amount of time, cost, and distance travelled by those vehicles through route
    optimization. Route optimization is the process of finding the most cost-effective route for multiple stops. It is
    useful for saving driving-time needed for those stops.
</p>
<div>
<p style="font-size: 50px; color:#04323f  "><i>Let Us </br> Do the Planning!</i>
<img src="{% static 'images/map.png' %}" style="border-radius: 0%"></p>
</div>
{% endblock content %}