{% extends "blog/base.html" %}
{% block content %}
<style>
.accordion {
  background-color: #eee;
  color: #113;
  cursor: pointer;
  padding: 22px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #d45812;
}

.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}
</style>
<legend class="border-bottom mb-4">FAQs</legend>
<p>We've shared some of the most frequently used questions to help you out!</p>
<div class="cd-faq__items">
    <ul id="basic" class="cd-faq__group">
        <li class="cd-faq__title"><h5>Account</h5></li>
         <button class="accordion">How do I sign up?</button>
        <div class="panel">
            <p>1- Press on "Not a User" button from the home page. <br> 2- Fill the registration form. <br> 3- Submit your form. <br>
           4- Verify your account by clicking on the link sent to your email address. <br> 5- Login with your credentials. <br> 6- Start Sorting! </p>
        </div>

        <button class="accordion">How do I change my user details?</button>
        <div class="panel">
            <p>1- Go to "Profile" from the top navigation bar. <br> 2- Edit the fields you want. <br> 3- Press Update to save your changes.
            </p>

        </div>


    </ul>
</div>

<br>
<div class="cd-faq__items">
    <ul id="basic2" class="cd-faq__group">
        <li class="cd-faq__title"><h5>Routes</h5></li>
        <button class="accordion">What is a route?
        </button>
        <div class="panel">
            <p>A route is a group of addresses traveled from a starting point to a destination.</p>
        </div>

        <button class="accordion">How to create a route?</button>
        <div class="panel">
            <p>1- Login to your account. <br> 2- Click on "New Route" from the top navigation bar. <br> 3- Fill the name of your Route.
             <br> 4- Click Submit.</p>
        </div>

        <button class="accordion">How to edit a route?</button>
        <div class="panel">
            <p>1-Click on "My Routes" from the top navigation bar. <br> 2- Click on "View Details" button next to the route you want to edit.
                <br> 3- Click on "Update" button. <br> 3- Edit the name of your Route.
             <br> 4- Click Submit.</p>
        </div>

        <button class="accordion">How to delete a route?</button>
        <div class="panel">
            <p>1-Click on "My Routes" from the top navigation bar. <br> 2- Click on "View Details" button next to the route you want to edit.
                <br> 3- Click on "Delete" button. <br> 4- Click on "Yes, Delete" button to confirm deletion.
        </div>
        <button class="accordion">How to sort a route?</button>
        <div class="panel">
            <p>1-Click on "My Routes" from the top navigation bar. <br> 2- Click on "View Addresses" button next to the route you want to sort.
                <br> 3- If there are atleast 3 addresses added to your route,
                you can Click on "Sort Addresses" button. <br> 4- A message will appear when the route has been successfully sorted. <br>
            5- Click on "Route Results" from the top navigation bar. <br> 6- Check your results!
        </div>
    </ul>
</div>
<br>
<div class="cd-faq__items">
    <ul id="basic2" class="cd-faq__group">
        <li class="cd-faq__title"><h5>Addresses</h5></li>
        <button class="accordion">What is an address?
        </button>
        <div class="panel">
            <p>An address is the particulars of the place where someone lives or an organization is situated.</p>
        </div>

        <button class="accordion">How to add an address to a route?</button>
        <div class="panel">
            <p>1-Click on "My Routes" from the top navigation bar. <br> 2- Click on "View Addresses" button next to the route you want to add addresses to.
                <br> 3- Click on "Add New Address" button. <br> 4- Fill in the address form. </br> 5- Click Submit.</p>
        </div>

        <button class="accordion">How to update an address?</button>
        <div class="panel">
            <p>1-Click on "My Routes" from the top navigation bar. <br> 2- Click on "View Addresses" button next to the route you want to add addresses to.
                <br> 3- Click on "+" sign of the address you want to delete. <br> 4- Click on "Update" button. <br> 5- Edit the fields that you want to change. <br>
            6- Click Submit to save changes. </p>
        </div>
        <button class="accordion">How to delete an address?</button>
        <div class="panel">
            <p>1-Click on "My Routes" from the top navigation bar. <br> 2- Click on "View Addresses" button next to the route you want to add addresses to.
                <br> 3- Click on "+" sign of the address you want to delete. <br> 4- Click on "Delete" button. <br> 5- Click on "Yes, Delete" button to confirm deletion.</p>
        </div>
    </ul>
</div>
<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight) {
      panel.style.maxHeight = null;
    } else {
      panel.style.maxHeight = panel.scrollHeight + "px";
    }
  });
}


</script>

</body>
</html>
{% endblock content %}
