{% extends "blog/base.html" %}
{% block content %}
<style>
.accordion {
  background-color: #eee;
  color: #113;
  cursor: pointer;
  padding: 22px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #d45812;
}

.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}
</style>

{% if page_obj.paginator.count > 1 and page_obj.paginator.count < 50 %}
<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <legend class="border-bottom mb-4">Addresses in <b>{{ addresses.0.route }}</b>: {{ page_obj.paginator.count }}
                addresses<h6
                        class="text-muted"> Click on + to view address details. </h6></legend>

            {% for address in addresses %}

            <div class="cd-faq__items">
                <ul id="basic" class="cd-faq__group">
                    <button class="accordion">Address Name: {{address.name }} {% if address.make_initial_location %} <b class="text-success">(Initial Location)</b> {% endif %}</button>
                    <div class="panel">
                        <p><b>Location:</b> ( {{ address.location.x }} , {{address.location.y}} ) </p>
                        <p class="text-muted">Is Initial Location: {{address.make_initial_location}}</p>
                        {% if address.username == user %}
                        <div>
                            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'address-update' address.id %}"
                               style="background-color: #04323f"> Update</a>
                            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'address-delete' address.id %}">Delete</a>
                        </div>
                    </div>
                    {% endif %}
                </ul>
            </div>
            <br><br>


            {% endfor %}

        </div>
        <a class="btn btn-secondary btn-sm mt-2 mb-1" href="{% url 'address-create' %}"
           style="background-color: #04323f; position:relative; left:450px;">Add New Address</a>
        {%  if  addresses.count > 2 %}
            <a class="btn btn-secondary btn-sm mt-2 mb-1" href="#"
           style="background-color: #04323f; position:relative; left:450px;" onclick="sortAddresses()">Sort Addresses</a>
        {% endif %}
    </div>

</article>
{% else %}{% if page_obj.paginator.count == 0 %}
<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <h1> Sorry there are no added addresses in {{view.kwargs.route}}!</h1>
            <a class="btn btn-secondary btn-sm mt-2 mb-1" href="{% url 'address-create' %}"
               style="background-color: #04323f; position:relative; left:550px;">Add New Address</a>
        </div>
    </div>
</article>

{% else %}{% if page_obj.paginator.count == 50 %}
<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <legend class="border-bottom mb-4">Addresses in  <b>{{ addresses.0.route }}</b>: {{ page_obj.paginator.count }}
                addresses<h6
                        class="text-muted"> Click on + to view address details. </h6></legend>

            {% for address in addresses %}

            <div class="cd-faq__items">
                <ul id="basic" class="cd-faq__group">
                    <button class="accordion">Address Name: {{address.name }} {% if address.make_initial_location %} <b class="text-success">(Initial Location_</b> {% endif %}</button>
                    <div class="panel">
                        <p><b>Location:</b> ( {{ address.location.x }} , {{address.location.y}} ) </p>
                        <p class="text-muted">Is Initial Location: {{address.make_initial_location}}</p>
                        {% if address.username == user %}
                        <div>
                            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'address-update' address.id %}"
                               style="background-color: #04323f"> Update</a>
                            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'address-delete' address.id %}">Delete</a>
                        </div>
                    </div>
                    {% endif %}
                </ul>
            </div>

            {% endfor %}

        </div>
        <h5> You have reached the maximum amount of addresses per route: 50. Cannot add more.</h5>
        {%  if  addresses.count > 2 %}
            <a class="btn btn-secondary btn-sm mt-2 mb-1" href="#"
           style="background-color: #04323f; position:relative; left:450px;" onclick="sortAddresses()">Sort Addresses</a>
        {% endif %}
    </div>

</article>
{% else %}{% if page_obj.paginator.count == 1 %}
<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <legend class="border-bottom mb-4">Addresses in  <b>{{ addresses.0.route }}</b>: {{ page_obj.paginator.count }}
                addresses<h6
                        class="text-muted"> Click on + to view address details. </h6></legend>

            {% for address in addresses %}

            <div class="cd-faq__items">
                <ul id="basic" class="cd-faq__group">
                    <button class="accordion">Address Name: {{address.name }} {% if address.make_initial_location %} <b class="text-success">(Initial Location_</b> {% endif %}</button>
                    <div class="panel">
                        <p><b>Location:</b> ( {{ address.location.x }} , {{address.location.y}} ) </p>
                        <p class="text-muted">Is Initial Location: {{address.make_initial_location}}</p>
                        {% if address.username == user %}
                        <div>
                            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'address-update' address.id %}"
                               style="background-color: #04323f"> Update</a>
                            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'address-delete' address.id %}">Delete</a>
                        </div>
                    </div>
                    {% endif %}
                </ul>
            </div>

            {% endfor %}

        </div>
        <a class="btn btn-secondary btn-sm mt-2 mb-1" href="{% url 'address-create' %}"
               style="background-color: #04323f; position:relative; left:550px;">Add New Address</a>
    </div>

</article>
{% endif %} {% endif %} {% endif %} {% endif %}

<script>
    function sortAddresses() {
        // Clear old message if exists
        try {
            let oldMessage = document.getElementById('sort-addresses-result-message')
            oldMessage.parentElement.removeChild(oldMessage);
        } catch{}

        $.ajax({
            type: 'GET',
            url: '{% url 'sort-addresses' %}?route={{ addresses.0.route.pk }}',
            success: function (result) {
                let mediaBody = document.getElementsByClassName('media-body');
                let newMessage = createMessage(result.message, result.success)
                mediaBody[0].appendChild(newMessage)
            },
            error: function (error) {
              console.log(error);
            }
        });
    }

    function createMessage(message, success) {
        let p = document.createElement("p");
        p.innerHTML = message;
        p.classList = (success) ? 'alert alert-success' : 'alert alert-danger';
        p.style = 'margin-top: 10px';
        p.id = 'sort-addresses-result-message';
        return p;
    }

</script>

<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight) {
      panel.style.maxHeight = null;
    } else {
      panel.style.maxHeight = panel.scrollHeight + "px";
    }
  });
}

</script>
{% endblock content %}
