{% extends "blog/base.html" %}
{% block content %}
<article class="media content-section">
    <div class="media-body">

        <div class="article-metadata">
            <legend class="border-bottom mb-4">Details of <b>{{ object.title }}</b> :</legend>
            <a class="mr-2" href="{% url 'user-routes' object.username.username %}">Added by: {{ object.username }}</a>
            <small class="text-muted">Added on: {{ object.date_posted|date:"F d, Y" }}</small>


            <h2 class="article-title">{{ object.title }}</h2>
<!--            <p>Number of locations: {{ route.number_of_locations }}</p>-->
            {% if object.username == user %}
            <div>
                <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'address-create' %}"
                   style="background-color: #04323f"> Add New Location to
                    {{ object.title }}</a>

                <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'route-update' object.id %}"
                   style="background-color: #04323f"> Update</a>
                <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'route-delete' object.id %}">Delete</a>
            </div>
            {% endif %}
        </div>
    </div>
</article>
{% endblock content %}