{% extends "blog/base.html" %}
{% block content %}
<legend class="border-bottom mb-4">Routes by {{view.kwargs.username}} : {{ page_obj.paginator.count }} routes</legend>
<style>
    #addresses {
  font-family: Arial;
  border-collapse: collapse;
  width: 100%;
}

#addresses td, #addresses th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

#addresses tr:nth-child(even){background-color: #f2f2f2;}

#addresses tr:hover {background-color: #ddd;}

#addresses th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #04323F;
  color: white;
  text-align: center;
}


</style>
<article class="media content-section">
    <div class="media-body">
        <table id="addresses">
            <tr>
                <th>Added by</th>
                <th>Route Title</th>
                <th>Actions</th>
            </tr>
            {% for route in routes %}
            <tr>

                <td>{{ route.username }}</td>
                <td><a class="article-title" href="{% url 'route-detail' route.id %}">{{ route.title }}</a></td>
                <td><a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'route-addresses' route.id %}"
                       style="background-color: #04323f;">View Addresses</a>
                    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'route-detail' route.id %}"
                       style="background-color: #04323f ;">Route Details</a></td>
            </tr>
            {% endfor %}
        </table>
        <br>
        <a class="btn btn-secondary btn-sm mt-2 mb-1" href="{% url 'route-create' %}"
           style="background-color: #04323f; position:relative; left:550px;">Create New Route</a>
    </div>
</article>

{% if is_paginated %}
{% if page_obj.has_previous %}
<a class="btn btn-outline-info mb-4" href="?page=1">First</a>
<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
{% endif %}

{% for num in page_obj.paginator.page_range %}
{% if page_obj.number == num %}
<a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
{% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
<a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
{% endif %}
{% endfor %}


{% if page_obj.has_next %}
<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
{% endif %}


{% endif %}
{% endblock content %}
